* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: roboto, sans-serif;
    background-color: #1f2937;
    /* hero/nav background */
}
.nav-container {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-menu a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;

}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4rem 4rem;
    gap: 2rem;
}

.hero-content {
    max-width: 500px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.hero-content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-content p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-content button {
    all: unset;
    background-color: #3882f6;
    color: #e5e7eb;
    width: 100px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
}

.hero-image {
    height: 350px;
    width: auto;
    border-radius: 8px;
    flex: 1;
    object-fit: cover;
}

.information {
    background-color: #f9faf8;
}

.information h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
}
.blocks-section {
    display: flex;
    gap: 3rem ;
    padding: 2rem 4rem;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.block {
    height: 200px;
    width: 200px;
    border: #3882f6 solid 5px;
    border-radius: 16px;
    margin: 10px;
}

.block-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.testimonial
{
    display: flex;
    background-color: #e5e7eb;
    padding: 2rem;
    justify-content: center

}

.testimonial-section {
    padding: 4rem 2rem;
    width: 70%;
    flex-wrap: wrap;

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: justify;
}

.author {
    text-align: right;
    font-weight: 700;
}

.cta {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.cta-section {
    width: 80%;
    display: flex;
    justify-content: center;
}

.cta-block {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 1rem 3rem;
    border-radius: 4px;
    display: flex;
    /* row layout */
    flex-direction: row;
    /* left text, right button */
    align-items: center;
    /* vertically center both sides */
    justify-content: space-between;
    /* push text left, button right */
    max-width: 1200px;
    width: 100%;
    height: 120px;
    /* space between text and button */
}

.cta-text h3 {
    margin: 0 0 0.5rem 0;
    font-size: 24px;
}

.cta-text p {
    margin: 0px;
    color: #e5e7eb;
}

/* Button */
.cta-section button {
    background-color: transparent;
    border: #f9faf8 solid 2px;
    color: #e5e7eb;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 2rem;
}

.footer p {
    
}